
body {
    background-color: linen;
    font-family: Arial, verdana;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 

table, tr, td {
    border-collapse: collapse;
    padding: 10px;
}

#frmContainer {
	width: 300px;
}

label {
   display: inline-block;
   width: 90px;
   margin: 10px;
}

#btnInclusao {
	float: right;
}

img {
  width: 30px;
  height: 30px;
}